.container{
    position: relative;
    display: flex;
}
h1{
    font-family:"montserrat";
}
h2{
    font-family:"montserrat";
}
p{
    font-family:"montserrat";
}
a{
    font-family:"montserrat";
}
ul{
    font-family:"montserrat"
}
li{
    font-family:"montserrat"
}

#BackgroundVideo{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
}
#homepageBody{
    background-color:rgb(216, 194, 0);
}


.navBarButton{
    border:none;
    background-color:rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255);
    padding: 30px;
    font-size:18px;
}
.navBarButtonHovered{
    border:none;
    background-color:rgba(0, 0, 0, 0.25);
    color:rgb(255, 255, 255);
    padding: 30px;
    font-size:18px;
}

#navButton4{
    padding-bottom: 0px;
    padding-top: 0px;
}

#highContrastPicture{
    width: 100px;
    height: 70px;
    
}

#navBarList{
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
}
#navBarDiv{
    background-color:rgb(216, 194, 0);
    border-bottom-style:solid;
    border-bottom-color:rgb(108, 97, 0);
    border-bottom-width: 6px;
}


#title{
    margin:auto;
    text-align: center;
}
#titleHeadings{
    background-color:rgba(255, 230, 2, 0.3);
    color:rgb(255, 255, 255);
}
#titleHeadings h1{
    font-size:70px;
    margin:2%;
}
#titleHeadings h2{
    font-size:32px;
    margin:3%;
}

#logo{
    width:725px;
    height:725px;
    margin-right:80px;
}
#map{
    width:525px;
    height:525px;
    margin-top:30px;
    margin-left:80px;
}

#mapAndLogo{
    display:flex;
}

#pricingBody{
    background-color:rgb(216, 194, 0);
}
#pricingDiv{
    height: 65vh;
}
#equipmentContainer{
    height: 24vh;
    width:100%;
    background-color: rgb(194, 194, 194);
}
.pricePanel{
    flex: 33%;
    border-style: solid;
    border-width:5px;

}
.pricePanel h1{
    text-align:center;
    font-size: 50px;
}
.pricePanel h2{
    text-align:center;
    font-size: 25px;
}
.pricePanel li{
    font-size:35px;
    margin-bottom:20%;
    margin-left:3%;
    list-style:"= ";
}

#bronze{
    background-color:rgb(173, 102, 9);
    border-color:rgb(134, 80, 8);
}
#silver{
    background-color:rgb(155, 181, 189);
    border-color:rgb(122, 144, 151);
}
#gold{
    background-color:rgb(160, 145, 16);
    border-color:rgb(121, 110, 12);
}

#bronze h1{
    color:rgb(83, 49, 4);
}
#silver h1{
    color:rgb(78, 95, 100);
}
#gold h1{
    color:rgb(71, 65, 6);
}

#bronze ul{
    color:rgb(83, 49, 4);
}
#silver ul{
    color:rgb(78, 95, 100);
}
#gold ul{
    color:rgb(71, 65, 6);
}

#equipment{
    text-align:center;
    width:100%;
    border-style: solid;
    border-width:5px;
    border-color:rgb(85, 85, 85);
}
#equipment h2{
    margin:auto;
    width: 40%;
}


#contactUsBody{
    background-color:rgb(216, 194, 0);
}

#contactUsContentContainer{
    background-color:rgb(155, 139, 1);
    border-style:solid;
    border-color:rgb(108, 97, 0);
    border-width:6px;
    border-top-style:none;

}


#contactUsImage{
    flex:50%;
}
#contactUsImage h1{
    text-align: center;
    padding-bottom:30px;
    font-size:40px;
}
#contactInformation{
    flex:50%;
    font-size:40px;
}

#contactPhoto{
    height: 500px;
    width: 500px;
}

.contactInformationLine{
    text-align:right;
}

.contactInformationLine p{
    padding-right:15px;
}

.contactLinePhoto{
    width:70px;
    height:70px;
    padding-right:30px;
    padding-top:40px;

}